<h2 style="display: none;" id="local-type-new"><%= createType.new %></h2>
<h2 style="display: none;" id="local-type-add-case"><%= createType.add_case %></h2>
<h2 style="display: none;" id="local-type-update-param"><%= createType.update_param %></h2>
<h2 style="display: none;" id="local-type-delete"><%= createType.delete %></h2>
<h2 style="display: none;" id="local-role-user"><%= userRole.user %></h2>
<h2 style="display: none;" id="local-role-admin"><%= userRole.admin %></h2>